

//////////////////////////Breadkpoints Material Design

//layout-xs	width < 600px
//layout-gt-xs	width >= 600px
//layout-sm	600px <= width < 960px
//layout-gt-sm	width >= 960px
//layout-md	960px <= width < 1280px
//layout-gt-md	width >= 1280px
//layout-lg	1280px <= width < 1920px
//layout-gt-lg	width >= 1920px
//layout-xl	width >= 1920px

//////////////////////////Base Style and Typography
html {
  font-size: 16px; //REM
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: $bg-color-light;
}

h1 {
  font-size: 1.5em; //24px
}

h2 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
}

/////////////////////////Placeholders
%accent-color {
  background-color: $accent;
}


/////////////////////////Containers and Layout

.container-fluid {
  width: 100%;
}

.container {
  font-size: 16px;
  min-width: 360px;
  max-width: 600px;
  width: 100%;
  border: solid 1px tomato;
}

.row {
  width: 100%;
}

.row-flex {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

///////////////////////////Buttons
.button-primary {
  @extend %accent-color;
  font-size: 0.875em;
  width:100%;
  height: 36px;
  border:none;
  line-height: 1.5;
  padding: .5em;
  vertical-align: middle;
  transition: .2s ease-out;
  cursor:pointer;
  text-align: center;

  &:hover {
    background-color: tomato;
  }
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;

    // Waves Colors
  &.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
}


/////////////////////Pricing

.circle {
width: 120px;
height: 120px;
background-color: $accent;
border-radius: 60px;
margin: auto;
display: flex;
margin-bottom: 24px;
}

main {
position: relative;
margin: auto;
color: white;
text-align: center;
}

h1 {
margin: 0;
padding: 0;
font-size: 1em;
line-height:1.15;
font-weight: normal;
}

h2 {
margin: 0;
padding: 0;
font-size: 44px;
margin-left: 10px;
line-height:1.25;
font-weight:bold;
}

h2 span {
position: absolute;
font-size: 18px;
top: 26px;
left: 0;
}

.display-2 {
  font-size: 1.125em;
  width: 100%;
}

.strawberry {
  color: $strawberry;
}

/////////////////////////List
ul {
  list-style: none;
}

ul > li {
  margin: 8px 0;
  color: $secondary-text-dbg;
}

ul > li span {
  color: $accent;
}
.features-list {
  width: 100%;
}



////////////////////////Toggle Annual Monthly

input[type="radio"] + label {
  content: '\a0';
  color: rgba(0,0,0,.54);
  width: 160px;
  height: 36px;
  background: white;
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  box-shadow: inset 0 0 1px grey;
  margin: 32px 0;
}

.annual-label {
  border-radius: 0 4px 4px 0;
}

.monthly-label {
  border-radius: 4px 0 0 4px;
}

input[type="radio"]:checked + label {
  background: $accent;
  color: white;
  box-shadow: inset 0 0 1px grey;
}

input[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
}
